<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://xmlns.jcp.org/jsf/html"
>
<body>
<ui:composition>
    <div id="title-bar">
        <h:form class="loggedInBar" rendered="#{loginBean.loggedIn}">
            <h:outputLabel class="lblGreeting" value="#{loginBean.greeting}"></h:outputLabel>
            <p>
                <h:commandLink class="linkLogout" action="#{loginBean.logout}">Abmelden</h:commandLink>
            </p>
        </h:form>
        <h:form class="loggedInBar" rendered="#{!loginBean.loggedIn}">
            <h:outputLabel class="lblGreeting" value="#{loginBean.greetingGuest}"></h:outputLabel>
            <p>
                <h:outputLabel value="Nutzername: "></h:outputLabel>
                <h:inputText class="loginInputText" value="#{loginBean.username}"></h:inputText>
                <h:commandLink class="linkLogin" action="#{loginBean.login}">Anmelden</h:commandLink>
            </p>
        </h:form>
    </div>
</ui:composition>
</body>
</html>