<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>ParderNote</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/pardernote.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"/>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>

    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
    </f:facet>
</h:head>

<h:body>
    <div class="page">
        <div class="container-fluid">
            <f:view>
                <div id="header">
                    <ui:insert name="header">
                        <ui:include src="/template/commonHeader.xhtml"/>
                    </ui:insert>
                </div>
                <div id="content">
                    <ui:insert name="content">
                        <ui:include src="/template/commonContent.xhtml"/>
                    </ui:insert>
                </div>
                <div id="footer">
                    <ui:insert name="footer" >
                        <ui:include src="/template/commonFooter.xhtml" />
                    </ui:insert>
                </div>
            </f:view>
        </div>
    </div>
</h:body>
</html>
