<ui:composition template="template/template.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <ui:define name="content">
        <h:form>
            <div>
                <h2>Notiz anlegen</h2>
                <h:inputTextarea value="#{noteCreateBean.note.text}" cols="80" rows="10"/>
            </div>
            <h:commandLink class="toggle" onclick="$('#optionals').toggleClass('hidden'); return false;">
                Optionale Felder einblenden</h:commandLink>
            <div id="optionals" class="hidden">
                <table>
                    <tr>
                        <td>
                            <h:outputText value="Titel"></h:outputText>
                        </td>
                        <td>
                            <h:inputText id="Titel" value="#{noteCreateBean.note.title}"></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Priorität"></h:outputText>
                        </td>
                        <td>
                            <h:inputText id="Priority" value="#{noteCreateBean.note.priority}"></h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Zu erledigen bis"></h:outputText>
                        </td>
                        <td>
                            <h:inputText id="TodoUntil" value="#{noteCreateBean.note.todoUntil}" a:placeholder="dd.mm.yyyy">
                                <f:convertDateTime pattern="dd.mm.yyyy"></f:convertDateTime>
                            </h:inputText>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h:outputText value="Erledigt"></h:outputText>
                        </td>
                        <td>
                            <h:selectBooleanCheckbox id="Done" value="#{noteCreateBean.note.done}"></h:selectBooleanCheckbox>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="buttons-hbox">
                <h:commandButton value="Speichern und zur Liste" action="#{noteCreateBean.save()}"/>
                <h:commandButton value="Speichern und weitere Notiz" action="#{noteCreateBean.saveAndNew()}"/>
                <h:commandButton value="Verwerfen" action="#{noteCreateBean.clear()}"/>
                <h:commandButton value="Zurück" action="notelist.xhtml?faces-redirect=true"/>
            </div>
        </h:form>
    </ui:define>

</ui:composition>

