<ui:composition template="template/template.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

    <f:metadata>
        <!-- When page is loaded, get ID from URL and store it in the bean.
         Then call loadNote, to let the bean load the noteDTO. -->
        <f:viewParam name="noteId" value="#{noteDetailsBean.noteId}"/>
        <f:event type="preRenderComponent" listener="#{noteDetailsBean.loadNote}"/>
    </f:metadata>

    <ui:define name="content">
        <h:form>
            <h2>Notizdetails</h2>
            <table>
                <tr>
                    <td>
                        Titel:
                    </td>
                    <td>
                        <h:inputText value="#{noteDetailsBean.note.title}"></h:inputText>
                    </td>
                </tr>
                <tr>
                    <td>
                        Text:
                    </td>
                    <td>
                        <h:inputTextarea value="#{noteDetailsBean.note.text}" cols="80" rows="10"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Autor:
                    </td>
                    <td>
                        #{noteDetailsBean.note.author}
                    </td>
                </tr>
                <tr>
                    <td>
                        Erstellt:
                    </td>
                    <td>
                        <h:outputText value="#{noteDetailsBean.note.creationTimestamp}">
                            <f:convertDateTime pattern="dd.MM.yyyy HH:mm" locale="de_DE"/>
                        </h:outputText>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputText value="Priorität"></h:outputText>
                    </td>
                    <td>
                        <h:inputText id="Priority" value="#{noteDetailsBean.note.priority}"></h:inputText>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputText value="Zu erledigen bis"></h:outputText>
                    </td>
                    <td>
                        <h:inputText id="TodoUntil" value="#{noteDetailsBean.note.todoUntil}" a:placeholder="dd.mm.yyyy">
                            <f:convertDateTime pattern="dd.mm.yyyy"></f:convertDateTime>
                        </h:inputText>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h:outputText value="Erledigt"></h:outputText>
                    </td>
                    <td>
                        <h:selectBooleanCheckbox id="Done" value="#{noteDetailsBean.note.done}"></h:selectBooleanCheckbox>
                    </td>
                </tr>
            </table>

            <div class="buttons-hbox">
                <h:commandButton value="Speichern" action="#{noteDetailsBean.save()}">
                    <f:param name="noteId" value="#{note.id()}"/>
                </h:commandButton>
                <h:commandButton value="Löschen" action="#{noteDetailsBean.archive()}"
                                 onclick="return confirm('Diese Notiz wirklich löschen?')">
                    <f:param name="noteId" value="#{note.id()}"/>
                </h:commandButton>
                <h:commandButton value="Zurück" action="#{noteDetailsBean.back()}">
                    <f:param name="noteId" value="#{note.id()}"/>
                </h:commandButton>
            </div>
        </h:form>

    </ui:define>

</ui:composition>