<ui:composition template="template/template.xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html" xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="content">
        <h2>Alle Notizen</h2>
        <h:dataTable value="#{noteListBean.notes}" var="note" class="data-table"
                     columnClasses="title-column, date-column, author-column">
            <h:column>
                <f:facet name="header">
                    Titel
                </f:facet>

                <h:link value="#{note.title}" outcome="notedetails.xhtml">
                    <f:param name="noteId" value="#{note.id()}"/>
                </h:link>
            </h:column>
            <h:column>
                <f:facet name="header">Angelegt
                </f:facet>
                <h:outputText value="#{note.creationTimestamp}">
                    <f:convertDateTime pattern="dd.MM.yyyy HH:mm"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Autor</f:facet>
                #{note.author}
            </h:column>
            <h:column>
                <f:facet name="header">Priorität</f:facet>
                #{note.priority}
            </h:column>
            <h:column>
                <f:facet name="header">Erledigen bis</f:facet>
                <h:outputText value="#{note.todoUntil}">
                    <f:convertDateTime pattern="dd.MM.yyyy"/>
                </h:outputText>
            </h:column>
            <h:column>
                <f:facet name="header">Erledigt</f:facet>
                <h:selectBooleanCheckbox value="#{note.done}" disabled="true"></h:selectBooleanCheckbox>
            </h:column>
        </h:dataTable>

        <div class="buttons-hbox">
            <h:form>
                <h:commandButton action="index.xhtml?faces-redirect=true" value="Neue Notiz"></h:commandButton>
            </h:form>
        </div>

    </ui:define>

</ui:composition>

